
#-----------------------------#
# [EN] Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
#-----------------------------#


#-----------------------------#
#### OneSync (Sunucuya 32 Kişiden Fazla Oyuncu Alma Özelliği) START
# [EN] Set this to 0 to disable 1 to enable onesync

set onesync_workaround763185 true
set onesync_forceMigration true
set onesync_distanceCullVehicles true
set steam_webApiKey "F9FA4D8D4A482F9438B2E9EA90B5C3E6"
#### OneSync (64 ya da 128 Oyuncu Slot Özelliği) END
#-----------------------------#

#-----------------------------#
sets sv_projectName "AI Club UIT - GTA Server | quandzkosoai"
sets sv_projectDesc "AI Club UIT - GTA Server configuration"

#-----------------------------#
add_principal identifier.steam:your_steam_id group.admin
add_principal identifier.ip:127.0.0.1 group.admin

add_ace resource.console command allow
#-----------------------------#

#-----------------------------#
# [EN] These resources will start by default.

#### System START
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
#ensure playernames
#### System END

#### ScreenShot START
# ensure yarn
# ensure webpack
# ensure screenshot-basic
#### ScreenShot END
#-----------------------------#


#-----------------------------#
# [EN] Nested configs!
exec resources.cfg
#-----------------------------#


#-----------------------------#
# [EN] This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# [EN] Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0
#-----------------------------#



#-----------------------------#
# [EN] A comma-separated list of tags for your server.
# - sets tags "drifting, cars, racing"
# - sets tags "roleplay, military, tanks"
sets tags "UIT AI Club, RP, esx, roleplay, UIT, AI CLub"
setr voice_use3dAudio true
setr voice_useSendingRangeOnly true
#-----------------------------#


#-----------------------------#
# [EN] Set an optional server info and connecting banner image url.
# [EN] Size doesn't matter, any banner sized image will be fine.
sets banner_detail "https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-9/121107434_141140621065973_3699282883983612511_n.png?_nc_cat=103&ccb=1-3&_nc_sid=e3f864&_nc_ohc=GvRKNTXqWqgAX_ImxRq&_nc_ht=scontent-hkg4-1.xx&oh=bb410fea06b45d3cbfbb01e1e3fea306&oe=60DCE924"
sets banner_connecting "https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-9/121107434_141140621065973_3699282883983612511_n.png?_nc_cat=103&ccb=1-3&_nc_sid=e3f864&_nc_ohc=GvRKNTXqWqgAX_ImxRq&_nc_ht=scontent-hkg4-1.xx&oh=bb410fea06b45d3cbfbb01e1e3fea306&oe=60DCE924"
#-----------------------------#


#-----------------------------#
# [EN] Set your server's hostname
sv_hostname "AI Club UIT - GTA Server | quandzkosoai"
#-----------------------------#


#-----------------------------#
# Loading a server icon (96x96 PNG file)
load_server_icon myLogo.png
#-----------------------------#


#-----------------------------#
# [EN] convars which can be used in scripts
set temp_convar "hey world!"
#-----------------------------#


#-----------------------------#
# [EN] Uncomment this line if you do not want your server to be listed in the server browser.
##sv_master1 ""
#-----------------------------#


#-----------------------------#
# [EN] Add system admins
add_ace group.admin command allow


#-----------------------------#


#-----------------------------#
# [EN] Hide player endpoints in external log output.
sv_endpointprivacy true
#-----------------------------#


#-----------------------------#
# [EN] Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 12
#-----------------------------#


#-----------------------------#
# [EN] License key for your server (https://keymaster.fivem.net)
sv_licenseKey "3xug27ogbobhomq0h80rql2j1gkbx6bz" # get your own key noobs
#-----------------------------#
